#header {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(74, 94, 67); /*add text outline*/
    background-color: rgb(108, 179,62);
    padding: 59px;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 58px;
    
    background-image: url("https://s3.amazonaws.com/file.imleagues/Images/Intramurals/Uploaded/201506/2015610171747.png");   
    background-repeat: no-repeat; 
    background-position: left;    
    background-size: 300px;
}

body{
    background-color: rgb(198, 255, 198);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

input, select, button {
    padding-top: 5px;
    margin-top: 10px;  
}


.images {
    float: right;    
    display: flex;
    flex-direction: column; 
    gap: 5px;              
}

.images img {
    width: 570px;        
    height: 440px;        
    object-fit: cover;       
    border: 3px solid rgb(158, 255, 149);
    border-radius: 10px;
    padding: 3px; 
}

ul{
    list-style-type:none;  
    padding-left: 0; 

}